# Start Of Pipeline Script

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

db_config = {'user': 'practicum_student',
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs',
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,
             'db': 'data-analyst-youtube-data'}

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                            db_config['pwd'],
                                                            db_config['host'],
                                                            db_config['port'],
                                                            db_config['db']))
query = '''
           SELECT *
           FROM trending_vids
        '''

trending_vids = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')

#trending_vids.to_csv('trending_vids.csv', index = False)

trending_vids.head(5)

,video_id,region,trending_date,channel_title,category_title,publish_time,views,likes,dislikes,comment_count
record_id,,,,,,,,,,
1,8YEGqrtsxBc,France,2017-11-14,INTHEPANDA,Film & Animation,2017-11-12,102804,6306,179,421
2,oo12BXzMkfI,France,2017-11-14,大劇獨播,Film & Animation,2017-11-13,48796,99,19,73
3,nWGKA8OULxU,France,2017-11-14,Beni Affet,Film & Animation,2017-11-13,123529,1370,180,255
4,RKgk0DXZCvQ,France,2017-11-14,esepelisa,Film & Animation,2017-11-13,6708,98,4,31
5,SnHtzkQZggA,France,2017-11-14,تركييتنا - bizim Türkiye,Film & Animation,2017-11-13,15899,142,10,7

Apperantly this isn't the table I need for this project (even though it has way more information and can have more powerful analysis) I'll keep it for autonomous analysis for myself. <br>
Now I'll run the query on the required table for this project

In [3]:
query = '''
           SELECT *
           FROM trending_by_time
        '''

trending_by_time = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')

#trending_by_time.to_csv('trending_by_time.csv', index = False)

trending_by_time.head(5)

           region trending_date    category_title  videos_count
record_id
1          France    2017-11-14  Autos & Vehicles             8
2          France    2017-11-15  Autos & Vehicles             2
3          France    2017-11-16  Autos & Vehicles             6
4          France    2017-11-17  Autos & Vehicles             8
5          France    2017-11-18  Autos & Vehicles             4

Before continuing to the presentaion and dashboard I'll check missing values and if I have duplicate rows in the data

In [4]:
trending_by_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12343 entries, 1 to 12343
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          12343 non-null  object
 1   trending_date   12343 non-null  datetime64[ns]
 2   category_title  12343 non-null  object
 3   videos_count    12343 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 482.1+ KB

In [9]:
trending_by_time.duplicated().value_counts()

False    12343
dtype: int64

### All Good I can Continue to the Dashboard and Presentation now